label {
  background-color: transparent;
  border: 2px solid $cream;
  border-radius: 42px;
  padding: 5px 20px;
  margin-right: 8px;
  cursor: pointer;
  font-weight: bold;
  color: $cream;
}

input:checked ~ label {
  background-color: $cream;
  color: $orange;
}